body{
    height: 971.51px;
    width: 1652.54px;
    color: white;
    background-color:rgba(50, 73, 54, 1) ;
}

.galleryContainer{
    display: flex;
    flex-direction: row;
}
.galleryDescription{
    width: 422.01px;
    height:971.51px;
}

.mainGallery{
    margin-right: 92.38px;
    display: flex;
    flex-direction: column;
    width: 1138.15px;
}

.galleryDisciptionText{
    width: 321.52px;
    margin-top:343.88px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    
}

.photoContainerGallery{
    width: 1138.16px;
    height: 600px;
}

.photoGallery{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.closeButton{
    margin-top: 52.81px;
    height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 52.81px;
}

.navigationGallery{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20.46px;
}

.closeSign{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 33.31px;
}

.prevButtonGallery{
    display: flex;
    flex-direction: row;
    
    margin-left:  15.03px; 
    
}
.prevWhiteButton{
    margin-right: 34.07px;
    width: 32.37px;
    height: 40px;
}
.prevSign{
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    margin-left: 34.07;
}
.nextButtonGallery{
    display: flex;
    flex-direction: row;
    margin-right: 15.03px;
}

.nextSign{
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
}

.nextWhiteButton{
    margin-left: 34.07px;
    width: 32.37px;
    height: 40px;
}

.numberOfPhotosGallery{
    margin-top: auto;
    margin-bottom: auto;
}