

<body>
    <main class="galleryContainer">
        <div class="galleryDescription">
            <div class="galleryDisciptionText">
                <p class="cityGallery">Londyn</p>
                <p class="cityGalleryDiscription">Lorem,polerum</p>
            </div>
        </div>
        <div class="mainGallery">
            <div class="closeButton">
                <p class="closeSign">Zamknij</p>
                <img class="xButton" src="./../../../assets/images/xWhite.png">
            </div>
            <div class="photoContainerGallery">
                <img class="photoGallery" src="./../../../assets/images/309312972_1400647757129453_6641496229379976280_n.jpg">
            </div>
            <div class="navigationGallery">

                <div class="prevButtonGallery">
                    <img class="prevWhiteButton" src="./../../../assets/images/prevWhite.png">
                    <p class="prevSign">Poprzednie zdjęcie</p>
                </div>

                <div class="numberOfPhotosGallery">
                    1 z 10 zdjęć
                </div>

                <div class="nextButtonGallery">
                    <p class="nextSign">Następne zdjęcie</p>

                    <img class="nextWhiteButton" src="./../../../assets/images/nextWhite.png">
                </div>

            </div>
        </div>
    </main>
</body>

