@font-face {
  font-family: "museo-sans";
  src: url(../../fonts/MuseoSans700/MuseoSans_700.otf);
  font-style: normal;
}

@font-face {
  font-family: "museo-sans-400";
  src: url(../../fonts/MuseoSans500/MuseoSans_500.otf);
}

.pupop {
  width: 406.22px;
  height: 274.49px;
  border-color: black;
  border: 2px solid;
  border-radius: 6px;
  padding-left: 23.49px;
  padding: 21.03px;
  box-sizing: border-box;
}

.countryName {
  width: 252.41px;
  height: 24px;
  font-family: "museo-sans";
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #b23500;
}

.countryDate {
  width: 252.41px;
  height: 24px;
  display: inline-block;
  letter-spacing: 0px;
  text-align: left;
  color: #b23500;
  font-family: "museo-sans-400";
  font-size: 18px;
  line-height: 24px;
}

.countryDescription {
  margin-top: 10.64px;
  width: 349.01px;
  height: 72px;
  color: #38443a;
  font-family: "museo-sans-400";
  font-size: 18px;
  line-height: 24px;
}

.exit {
  float: right;
  width: 34px;
  height: 29px;
  background-image: url("files/x.png");
}

.buttonShowMore {
  height: 49.15px;
  width: 178.53px;
  border-radius: 6px;
  background: #b23500;
  margin-top: 53.04px;
  box-sizing: border-box;
  background-image: url("files/Vector.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center right;
  padding: 12.57px;
  display: inline-block;
  color: white;
  font-family: "museo-sans-400";
  line-height: 100%;
  vertical-align: center;
  font-size: 18px;
  line-height: 24px;
}

.signShowMore {
  margin-top: 0.1px;
  font-family: "museo-sans-400";
  font-size: 18px;
  line-height: 24px;
}

.moreGallery {
  float: right;
  margin-top: 65.62px;
  color: #38443a;
  font-family: "museo-sans-400";
}
