<div class="pupop">

    <div class="exit">

    </div>
    <div class="countryName">
        Wielka Brytania
    </div>

   

    <div class="countryDate">
        Date
    </div>

    <div class="countryDescription">
        {{descriptionText|cutText}}
    </div>

    <div class="buttonShowMore">
       <p class="signShowMore"> Zobacz więcej </p>
    </div>

    <div class="moreGallery">
        Galerie z 7 miast
    </div>
</div>