.formSelect {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 331px;
}

.selectOption {
  width: 331px;
  background-color: white;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px;
  border-top: 0px;
  border-color: #5d7261;
  border-style: solid;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
  color: #b23500;
  font-family: Public Sans;
  line-height: 24px;
}

.selectCityButton {
  width: 331px;
  height: 62px;
  border-radius: 6px;
  background-color: #b23500;
  color: white;
  display: flex;
  border: 0px;
}

.selectList {
  text-align: center;
}

.formSelect {
  padding: 0px;
  margin: 0px;
}

.selectSign {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 40px;
  line-height: 24px;
  font-size: 20px;
}

.selectArrow {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  width: 9.43px;
  height: 4.54px;
  border: white;
}
