.formSelect{
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 331px;
}

.selectOption {
    width: 331px;
    background-color: rgba(255, 255, 255, 1);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-top: 0px;
    border-color: rgba(93, 114, 97, 1);
    border-style: solid;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
    color: rgba(178, 53, 0, 1);
    font-family: Public Sans;
    line-height: 24px;

}

.selectCityButton {
    width: 331px;
    height: 62px;
    border-radius: 6px;
    background-color: rgba(178, 53, 0, 1);
    color: white;
    display: flex;
    border: 0px;
}

.selectList {
    text-align: center;


}

.formSelect {
    padding: 0px;
    margin: 0px;
}

.selectSign {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    line-height: 24px;
    font-size: 20px;
}

.selectArrow {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    width: 9.43px;
    height: 4.54px;
    border: rgba(255, 255, 255, 1);
}