<div>
    <div *ngIf="!isDisplay" class="selectList" >
        <ul class="formSelect">
            <li class="selectOption" *ngFor="let n of countries">{{n.id}}</li>
        </ul>
    </div>
    <button (click)="toggleDisplay()" class="selectCityButton">
        <p class="selectSign">Wybierz miasto z listy</p>
        <img class="selectArrow" src= "../../../assets/files/select.png">
    </button>
    
</div>