@mixin scrollbar-basic {
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 7.34px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 60px;
  }

}



.MainContainer {
  width: 500px;
  height: 300px;
  color: blue;
  background-color: green;
  @include scrollbar-basic;


}